---
import Layout from "@layouts/Layout.astro"
import Article from "@components/Article.astro"
import Apps from "@icons/Apps.astro"
import RandomImage from "@components/RandomImage.astro"
---

<Layout
  title="Herramientas"
  description="Herramientas que he desarrollado, tanto para uso personal, como público."
>
  <Article>
    <header class="mb-2 flex gap-2 font-semibold">
      <Apps class="size-8 stroke-custom-accent stroke-2" />
      <h1 class="flex gap-2 text-3xl">Herramientas.</h1>
    </header>
    <section class="flex flex-col gap-4">
      <h2 class="text-xl font-semibold">Página por agregar. :D</h2>
      <RandomImage classes="w-96 h-auto" alt="imagen herramientas" src="/about" />
    </section>
  </Article>
</Layout>
