---
import Layout from "@layouts/Layout.astro";
---

<Layout
  title="Herramientas"
  description="Herramientas que he desarrollado, tanto para uso personal, como público."
>
  <h1 class="text-3xl">Página por agregar. :D</h1>
</Layout>
