---
import Layout from "@layouts/Layout.astro";
---

<Layout
  title="Proyectos"
  description="Proyectos escolares, laborales y personales."
>
  <h1 class="text-3xl">Página por agregar. :D</h1>
</Layout>
