---
import Article from "@components/Article.astro";
import CardProjects from "@components/CardProjects.astro";
import ImageRandom from "@components/ImageRandom.astro";
import Code from "@icons/Code.astro";

import { getLastRepositories } from "@lib/apiGithub";
const { data, error } = await getLastRepositories();
---

<Article id="proyectos" title="Proyectos.">
  <Code slot="icon" class="size-8 stroke-custom-accent stroke-2" />
  {
    error ? (
      <section class="grid gap-4">
        <h2 class="font-semibold text-xl">
          Fallo al obtener los proyectos. :(
        </h2>
        <ImageRandom
          classes="h-96 w-96"
          alt="imagen proyectos"
          src="/notfound"
        />
        <p>{error}.</p>
      </section>
    ) : (
      <section class="grid md:grid-cols-2 xl:grid-cols-3 gap-4">
        {data && data.map((repo) => <CardProjects {...repo} />)}
      </section>
    )
  }
</Article>
