---
interface Props {
  id: string;
  title: string;
}

const { id, title } = Astro.props;
---

<article id={id} class="min-h-svh">
  <header class="flex font-semibold pt-16 mb-6">
    <h1 class="flex gap-2 text-3xl">
      <slot name="icon" />
      <a
        href={`#${id}`}
        class="hover:underline decoration-wavy decoration-2 decoration-custom-accent underline-offset-8"
      >
        {title}
      </a>
    </h1>
  </header>
  <slot />
</article>
