---
interface Props {
  title: string;
  href: string;
  sr: string;
  extraClasses?: string;
  isExternal?: boolean;
  isButton?: boolean;
}

const {
  title,
  href,
  sr,
  extraClasses,
  isExternal = false,
  isButton = false,
} = Astro.props;

const link = "hover:underline decoration-wavy decoration-custom-accent";
const button =
  "flex items-center py-2 px-4 gap-1 border-2 border-custom-accent rounded-xl";
---

<a
  title={title}
  href={href}
  class:list={[
    `text-custom-accent ${extraClasses}`,
    {
      [button]: isButton,
      [link]: !isButton,
    },
  ]}
  {...isButton && { role: "button" }}
  {...isExternal && { rel: "noopener noreferrer", target: "_blank" }}
>
  <slot />
  <span class="sr-only">{sr}</span>
</a>
