---
interface BaseProps {
  title: string
  href: string
  sr: string
  isExternal?: boolean
  isButton?: boolean
}

interface CustomProps extends BaseProps {
  isCustom?: true
  extraClasses: string
}

interface NonCustomProps extends BaseProps {
  isCustom?: false
  extraClasses?: never
}

type Props = CustomProps | NonCustomProps

const {
  title,
  href,
  sr,
  extraClasses,
  isCustom = false,
  isExternal = false,
  isButton = false,
} = Astro.props as Props

const link = "text-custom-accent hover:underline decoration-wavy decoration-custom-accent"
const button =
  "text-custom-accent flex items-center py-2 px-4 gap-1 border-2 border-custom-accent rounded-xl"
---

<a
  title={title}
  href={href}
  class={isCustom ? extraClasses : isButton ? button : link}
  {...isButton && { role: "button" }}
  {...isExternal && { rel: "noopener noreferrer", target: "_blank" }}
>
  <slot />
  <span class="sr-only">{sr}</span>
</a>
