---
import Section from "@components/Section.astro"
import Article from "@components/Article.astro"
import RandomImage from "@components/RandomImage.astro"
import User from "@icons/User.astro"
import { getAge } from "@lib/getAge"
---

<Section id="acerca" title="Sobre mi.">
  <User slot="icon" class="size-8 stroke-custom-accent stroke-2" />
  <Article extraClasses="md:flex-row md:justify-between">
    <div class="flex flex-col gap-4 md:w-7/12">
      <p>
        Mi nombre es Yael, tengo {getAge} años, mi cumpleaños es el 2 de julio, me encanta el café, la
        música y los chocolates, aunque actualmente estoy intentando ser más saludable. Mi número favorito
        es el 2, mi color favorito es el morado, y mi comida favorita es el arroz.
      </p>
      <p>
        Me gusta mucho ver videos de Youtube, antes solía leer mucho, pero ahora ya hace tiempo que
        no lo hago. Soy honesto y directo, por lo cual no tengo muchos amigos.
      </p>
      <p>Y pues supongo es todo jeje, no hay muchas cosas interesantes acerca de mi. :D</p>
    </div>
    <div class="flex justify-center md:w-4/12">
      <RandomImage classes="w-80 h-auto" alt="imagen acerca de" src="/about" />
    </div>
  </Article>
</Section>
