---
import RandomImage from "@components/RandomImage.astro"
import CardProfile from "@components/CardProfile.astro"
---

<section
  class="flex min-h-[calc(100svh-64px)] flex-col items-center justify-center gap-8 xl:flex-row xl:justify-between"
>
  <article class="flex flex-col justify-center">
    <h1 class="flex flex-col text-[5.0rem] font-black sm:text-8xl md:text-9xl">
      <span class="flex">
        <span class="mr-4">¡Hola!</span>
        <RandomImage classes="w-24 sm:w-32 h-auto" alt="imagen inicio" src="/home" format="webp" />
      </span>
      <span class="flex">
        <span class="mr-8">Soy</span>
        <span id="name" class="animate-text bg-custom-gradient bg-clip-text">Yael</span>
        <span class="animate-point">.</span>
      </span>
    </h1>
  </article>
  <CardProfile />
</section>

<script is:inline>
  document.addEventListener("astro:page-load", () => {
    const name = document.getElementById("name")
    name?.classList.add("text-transparent")
  })
</script>
