---
import ImageRandom from "@components/ImageRandom.astro";
import CardProfile from "@components/CardProfile.astro";
---

<article
  class="min-h-[calc(100svh-64px)] flex flex-col xl:flex-row gap-8 items-center justify-center xl:justify-between"
>
  <article class="flex flex-col justify-center">
    <section>
      <h1
        class="font-black text-[5.0rem] sm:text-8xl md:text-9xl flex flex-col"
      >
        <!-- 1 -->
        <span class="flex">
          <span class="mr-4">¡Hola!</span>
          <ImageRandom
            classes="h-24 w-24 sm:h-32 sm:w-32"
            alt="imagen inicio"
            src="/home"
          />
        </span>
        <!-- 2 -->
        <span class="flex">
          <span class="mr-8">Soy</span>
          <span
            class="animate-text text-transparent bg-clip-text bg-custom-gradient"
          >
            Yael
          </span>
          <span class="animate-point">.</span>
        </span>
      </h1>
    </section>
  </article>
  <CardProfile />
</article>
