---
import ImageRandom from "@components/ImageRandom.astro"
import CardProfile from "@components/CardProfile.astro"
---

<section
	class="flex min-h-[calc(100svh-64px)] flex-col items-center justify-center gap-8 xl:flex-row xl:justify-between"
>
	<article class="flex flex-col justify-center">
		<h1 class="flex flex-col text-[5.0rem] font-black sm:text-8xl md:text-9xl">
			<span class="flex">
				<span class="mr-4">¡Hola!</span>
				<ImageRandom classes="w-24 sm:w-32 h-auto" alt="imagen inicio" src="/home" />
			</span>
			<span class="flex">
				<span class="mr-8">Soy</span>
				<span class="animate-text bg-custom-gradient bg-clip-text text-transparent">Yael</span>
				<span class="animate-point">.</span>
			</span>
		</h1>
	</article>
	<CardProfile />
</section>
