---
import Link from "@components/Link.astro"
import Arrow from "@icons/Arrow.astro"
import Telegram from "@icons/Telegram.astro"
import Facebook from "@icons/Facebook.astro"
import Instagram from "@icons/Instagram.astro"
import Github from "@icons/Github.astro"
---

<footer
  class="mx-auto flex h-16 max-w-sm flex-col justify-center sm:max-w-lg md:max-w-screen-sm lg:max-w-screen-md xl:max-w-screen-lg 2xl:max-w-screen-xl"
>
  <hr class="mt-3 border-custom-accent" />
  <nav class="flex h-full w-full items-center justify-between">
    <button id="scroll-to-top" class="text-custom-accent">
      <Arrow class="stroke-custom-accent" />
      <span class="sr-only">Ve al principio de la página</span>
    </button>
    <Link
      title="Github"
      href="https://github.com/yaelooo/yaelo.dev"
      isExternal
      sr="Ve a mi github"
    >
      <Github />
    </Link>
  </nav>
</footer>

<script is:inline>
  document.addEventListener("astro:page-load", () => {
    const $button = document.getElementById("scroll-to-top")

    $button?.addEventListener("click", () => {
      window.scrollTo({ top: 0, behavior: "smooth" })
    })
  })
</script>
