---
import NavBarLinks from "@base/NavBarLinks.astro"
import ThemeSwitcher from "@base/ThemeSwitcher.astro"
import Link from "@components/Link.astro"
import Logo from "@icons/Logo.astro"
import Menu from "@icons/Menu.astro"
---

<header
  class="sticky top-0 z-50 mx-auto flex h-16 max-w-sm items-center
  justify-center sm:max-w-lg md:max-w-screen-sm lg:max-w-screen-md xl:max-w-screen-lg 2xl:max-w-screen-xl"
>
  <nav class="flex h-full w-full items-center justify-between backdrop-blur">
    <Link title="Inicio" href="/" sr="Ir a inicio">
      <Logo />
    </Link>
    <div class="flex gap-4">
      <NavBarLinks class="hidden gap-4 md:flex" />
      <ThemeSwitcher />
      <button class="dropbtn flex md:hidden" role="button" onclick="toggleDropdown()">
        <Menu class="stroke-custom-accent" />
        <span class="sr-only">Menú</span>
      </button>
    </div>
  </nav>
  <div class="dropdown-content absolute right-0 top-16 hidden backdrop-blur">
    <NavBarLinks class="flex flex-col gap-4 p-4" />
  </div>
</header>

<script is:inline>
  const dropdownClass = "dropdown-content"
  const hiddenClass = "hidden"
  const showClass = "flex"

  function toggleDropdown() {
    const dropdown = document.querySelector(`.${dropdownClass}`)
    dropdown.classList.toggle(hiddenClass)
    dropdown.classList.toggle(showClass)
  }

  function hideDropdown() {
    const dropdown = document.querySelector(`.${dropdownClass}`)
    dropdown.classList.remove(showClass)
    dropdown.classList.add(hiddenClass)
  }

  // Close dropdown when clicking outside
  window.addEventListener("click", (event) => {
    if (
      event.target.closest(".dropbtn") === null &&
      event.target.closest(`.${dropdownClass}`) === null
    ) {
      hideDropdown()
    }
  })

  // Close dropdown when pressing escape
  window.addEventListener("keydown", (event) => {
    if (event.key === "Escape") {
      hideDropdown()
    }
  })

  // Close dropdown when resizing
  window.addEventListener("resize", () => {
    hideDropdown()
  })

  // Close dropdown when scrolling
  window.addEventListener("scroll", () => {
    hideDropdown()
  })
</script>
